<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>外部変数のテスト</h1>

<table border="1">
    <tr>
        <td>data1</td>
        <td th:text="${data1}"></td>
    </tr>
    <tr>
        <td>data2</td>
        <td th:text="${data2}"></td>
    </tr>
    <tr>
        <td>data3</td>
        <td th:text="${data3}"></td>
    </tr>
    <tr>
        <td>data4</td>
        <td th:text="${data4}"></td>
    </tr>
    <tr>
        <td>data5</td>
        <td th:text="${data5}"></td>
    </tr>
</table>
</body>
</html>